.header-fixed {
	background-color:#292c2f;
	padding: 30px 60px;
	height: 120px;
	color: #5383d3;
	box-sizing: border-box;
	top:-100px;

}

.header-fixed .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}


.header-fixed-placeholder{
	height: 80px;
	display: none;
}


.header-fixed .header-limiter h1 {
	float: left;
	line-height: 20px;
	margin: 0;
}



.header-fixed .header-limiter a {
	color: #ffffff;
}

.header-fixed .header-limiter nav {
	font:19px Arial, Helvetica, sans-serif;
	line-height: 60px;
	float: right;
}

.header-fixed .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	color: #ffffff;
	opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover{
	opacity: 1;
}


body.fixed .header-limiter {
	padding: 10px 40px;
	height: 50px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

body.fixed .header-limiter {
	display: block;
}

body.fixed .header-fixed .header-limiter h1 {
	font-size: 20px;
	line-height: -100px;
	position: absolute;
}

body.fixed .header-fixed .header-limiter nav {
	line-height: 28px;
	font-size: 13px;
}


@media all and (max-width: 600px) {

	.header-fixed {
		padding: 20px 0;
		height: 75px;
	}

	.header-fixed .header-limiter h1 {
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-fixed .header-limiter nav {
		line-height: 1;
	}

	.header-fixed .header-limiter nav a {
		font-size: 13px;
	}

	body.fixed .header-fixed {
		display: none;
	}

}

body {
	margin: 0;
	padding: 0;
	height: 1500px;
}